form{
	display: flex;
	width: 100%;
}

form *:not(:last-child){
	margin-right: 10px;
}

input[type="text"],
input[type="search"]{
	/*flex: 1 0 0;*/

	border: 1px solid lightgray;

	width: 100%;
	height: 1.75em;
	font-size: 1em;
	-webkit-appearance: textfield;
	-moz-appearance:    textfield;
	appearance:         textfield;

	padding: 5px;

	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

input[type="text"]:hover, input[type="text"]:focus,
input[type="search"]:hover, input[type="search"]:focus
{
	background: rgb(240,240,240);
	border: 1px solid gray;
	outline: none;
}

input[type="button"],input[type="submit"],button{

	width: auto;
	-webkit-appearance: button;
	-moz-appearance:    button;
	appearance:         button;

	background: rgb(240,240,240);
	border: 1px solid lightgray;

	height: 1.75em;
	font-size: 1em;

	cursor: pointer;

	-webkit-transition: all 0.25s;
	transition: all 0.25s;

	padding: 5px;
	margin: 2px;
}

input[type="button"]:hover,input[type="submit"]:hover,button:hover, select:hover{
	background: rgb(220,220,220);
	border-color: gray;
}

input.wrap{
	width: auto;
	display: inline-block;
}

label{
	cursor: pointer;
}

label:hover{
	text-decoration: underline;
}

select{

	background: white;

	border: 1px solid lightgray;

	height: 1.75em;
	font-size: 1em;

	-webkit-transition: all 0.25s;
	transition: all 0.25s;

	padding: 5px;
}
