html{
    background-color: #fafafa;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  transition: all 0.5s;
}

a{
	text-decoration: none;
	color: #ff6600;
	font-weight: 400;
	cursor: pointer;
  padding: 3px 3px 3px 3px;
  margin-right: -6px;
  position: relative;
  left: -3px;
}

a.nodecoration:hover{
	text-decoration: none;
}

a:hover:not(.nohover), a.active{
  background: #ff6600;
  color: white;
  border-radius: 0px;
}

a img:hover {
  background: none !important;
}

a.button, .button a{
  border: 2px solid #ff6600;
  display: inline-block;
  margin: 2px;
  background: #ff6600;
  color: white;
}

a.button:hover, .button a:hover{
  background: white;
  color: #ff6600;
}

a[disabled] {
	text-decoration: none;
	color: gray;
	pointer-events: none;
	cursor: not-allowed !important;
}

#App{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent{
  flex: 0 1 100%;
  padding: 0px 50px 100px 50px;
}

.footer{
}

.middle{
  align-self: center;
}

.alignRight{
  text-align: right;
}

h1{
	color: #000;
	font-size: 2.5em;
  font-weight: 300;
	margin: 1em 0 1em 0;
  padding-bottom: 5px;
  border-bottom: 5px solid #ff6600;
  line-height: 1em;
  display: inline-block;
}

h2{
	color: #555;
	font-size: 2em;
	font-weight: 300;
  line-height: 1em;
	margin: 30px 0 0.75em 0;
}

h3{
	font-size: 1.2em;
	font-weight: 500;
  line-height: 1em;
	margin: 30px 0 0.5em 0;
	color: #444;
	text-transform: uppercase;
}

h4{
	font-size: 1em;
	font-weight: 400;
	margin: 1em 0 0.25em 0;
  color: #888;
  text-transform: uppercase;
}

hr{
	height: 0px;
	border: 0px;
	border-top: 1px solid rgba(100,100,100,0.25);
}

.scrollX{
  max-width: 100%;
  overflow-x: auto;
}

.pointer{
  cursor: pointer !important;
}

@media screen and (max-width: 600px) {

  #app .mainContent{
    flex: 1 0 auto;
    padding: 0px 20px 0px 20px;
  }

  .hideOnPhone{
    display: none;
  }

  h1{
  	margin: 0;
  }

}

ul.nested {
  font-weight: 400;
}

ul.nested ul {
  font-weight: 300;
}

.stickyTop{
  position: sticky;
  top: 50px;
}
