.gray{
	color: gray;
}

.orange{
	color: #f60;
}

.small{
	font-size: smaller;
}

.semibold{
  font-weight: 400;
}

.normalweight{
	font-weight: 300;
}

.light{
  font-weight: 200;
}

/*.dyslexia{
	font-family: "OpenDyslexic3";
}*/
